.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 50%;
  min-width: 400px;
  background: #333;
  overflow: hidden;
  margin: auto;
  border-radius: 2em;
}

.calculator__display {
  text-align: right;
  padding: 16px;
  color: #f7f7ff;
  font-size: 2em;
  font-weight: 300;
}

.calculator__display span {
  font-size: 14px;
  color: #fff;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

.calculator__operators {
  display: flex;
}
.calculator__operators button {
  flex: 1 1 0%;
  font-weight: 700;
  background: coral;
}

.calculator__digits {
  display: flex;
  flex-wrap: wrap;
}
.calculator__digits button {
  flex: 1 1 33.33%;
  background: #333;
  max-width: 33.33%;
}
